@using TECH.Areas.Admin.Models
@model OrdersCartDetailModelView
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal _totalPrice = 0;
}
<section class="ftco-section">
    <div data-v-76425704="" class="container">
        <form data-v-76425704="">
            <div data-v-76425704="" class="row">
                <div data-v-76425704="" class="col-md-5">
                    <form data-v-76425704="" class="billing-form">
                        <h3 data-v-76425704="" class="mb-4 billing-heading">Thông tin mua hàng</h3>
                        <div data-v-76425704="" class="row align-items-end">
                            <div data-v-76425704="" class="col-md-12">
                                <div data-v-76425704="" class="form-group">
                                    <input data-v-76425704="" type="text" value="@Model.UserModelView.full_name" placeholder="Họ và tên" class="form-control" />
                                    </div>
                            </div>
                            <div data-v-76425704="" class="col-md-12">
                                <div data-v-76425704="" class="form-group">
                                    <input data-v-76425704="" type="text" value="@Model.UserModelView.phone_number" placeholder="Số điện thoại" class="form-control" />
                                    </div>
                            </div>
                            <div data-v-76425704="" class="col-md-12">
                                <div data-v-76425704="" class="form-group">
                                    <input data-v-76425704="" type="text" value="@Model.UserModelView.address" placeholder="Địa chỉ" class="form-control" />
                                    </div>
                            </div>
                            <div data-v-76425704="" class="col-md-12 online">
                                <div data-v-76425704="" class="form-group">
                                    <div data-v-76425704="" class="select-wrap">
                                        @*<div data-v-76425704="" class="icon"><span data-v-76425704="" class="ion-ios-arrow-down"></span></div>*@
                                        <select data-v-76425704="" name="cities" id="cities" class="form-control">
                                            
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div data-v-76425704="" class="col-md-12 online">
                                <div data-v-76425704="" class="form-group">
                                    <div data-v-76425704="" class="select-wrap">
                                        @*<div data-v-76425704="" class="icon"><span data-v-76425704="" class="ion-ios-arrow-down"></span></div>*@
                                        <select data-v-76425704="" name="district" id="district"  class="form-control">                                          
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div data-v-76425704="" class="col-md-12 online">
                                <div data-v-76425704="" class="form-group">
                                    <div data-v-76425704="" class="select-wrap">
                                        @*<div data-v-76425704="" class="icon"><span data-v-76425704="" class="ion-ios-arrow-down"></span></div>*@
                                        <select data-v-76425704="" name="wardsid" id="wardsid" class="form-control">
                                            <option data-v-76425704="" value="">Phường/Xã</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div data-v-76425704="" class="col-md-12">
                                <div data-v-76425704="" class="form-group"><textarea data-v-76425704="" rows="4" placeholder="Ghi chú" id="note" class="form-control"></textarea></div>
                            </div>
                        </div>
                    </form>
                    <div data-v-76425704="" class="row">
                        <div data-v-76425704="" class="col-md-12">
                            <div data-v-76425704="" class="cart-detail bg-light p-3 p-md-4">
                                <h3 data-v-76425704="" class="billing-heading mb-4">Phương thức mua hàng</h3>
                                <div data-v-76425704="" class="form-group">
                                    <div data-v-76425704="" class="col-md-12">
                                        <div data-v-76425704="" class="radio">
                                            <label data-v-76425704=""><input data-v-76425704="" type="radio" checked name="delivery" value="1" class="mr-2" /> Đến cửa hàng mua trực tiếp </label>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-76425704="" class="form-group">
                                    <div data-v-76425704="" class="col-md-12">
                                        <div data-v-76425704="" class="radio">
                                            <label data-v-76425704="">
                                                <input data-v-76425704="" type="radio" name="delivery" value="2" class="mr-2" />
                                                Phương thức vận chuyển
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-76425704="" class="col-md-12 mt-3 online">
                            <div data-v-76425704="" class="cart-detail bg-light p-3 p-md-4">
                                <h3 data-v-76425704="" class="billing-heading mb-4">Thanh toán</h3>
                                <div data-v-76425704="" class="form-group">
                                    <div data-v-76425704="" class="col-md-12">
                                        <div data-v-76425704="" class="radio">
                                            <label data-v-76425704=""><input data-v-76425704="" checked type="radio" name="payment" value="1" class="mr-2" /> Thanh toán khi nhận hàng </label>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-76425704="" class="form-group">
                                    <div data-v-76425704="" class="col-md-12">
                                        <div data-v-76425704="" class="radio">
                                            <label data-v-76425704=""><input data-v-76425704="" type="radio" name="payment" value="2" class="mr-2" />Thanh toán qua VN Pay </label>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-76425704="" class="form-group">
                                    <div data-v-76425704="" class="col-md-12">
                                        <div data-v-76425704="" class="radio">
                                            <label data-v-76425704=""><input data-v-76425704="" type="radio" name="payment" value="3" class="mr-2" />Thanh toán bằng Momo </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-76425704="" class="col-md-7 mt-5 pt-3">
                    <div data-v-76425704="" class="row">
                        <div data-v-76425704="" class="col-md-12">
                            <div data-v-76425704="" class="cart-detail cart-total bg-light p-3 p-md-4">
                                <h3 data-v-76425704="" class="mb-4 billing-heading">Đơn hàng</h3>
                                <table data-v-76425704="" class="table table-striped" style="min-width: 100% !important;">
                                    <tbody data-v-76425704="">
                                        @foreach (var item in Model.CartsModelView)
                                        {
                                            decimal totalPrice = item.price.Value * item.quantity.Value;
                                            _totalPrice += totalPrice;
                                            <tr data-v-76425704="">
                                            <td data-v-76425704="" width="20%" class="text-left"><img data-v-76425704="" src="../../public/images/product/CA8755F7-1424-449D-812A-9272B8323BBF.jpeg" alt="" class="img-cart" /></td>
                                            <td data-v-76425704="" class="text-left">@item.productModelView.name</td>
                                            <td data-v-76425704="" class="text-left">x @item.quantity</td>
                                            <td data-v-76425704="" class="text-left">@totalPrice.ToString("#,###")<i data-v-76425704="">đ</i></td>
                                        </tr>
                                        }
                                       @* <tr data-v-76425704="">
                                            <td data-v-76425704="" width="20%" class="text-left"><img data-v-76425704="" src="../../public/images/product/CA8755F7-1424-449D-812A-9272B8323BBF.jpeg" alt="" class="img-cart" /></td>
                                            <td data-v-76425704="" class="text-left">iMac 2020 27 inch 5K</td>
                                            <td data-v-76425704="" class="text-left">x1</td>
                                            <td data-v-76425704="" class="text-left">50,000,000<i data-v-76425704="">đ</i></td>
                                        </tr>
                                        <tr data-v-76425704="">
                                            <td data-v-76425704="" width="20%" class="text-left">
                                                <img data-v-76425704="" src="../../public/images/product/product_avatar45c48cce2e2d7fbdea1afc51c7c6ad2662a30481140e2.png" alt="" class="img-cart" />
                                            </td>
                                            <td data-v-76425704="" class="text-left">AirPods 3</td>
                                            <td data-v-76425704="" class="text-left">x2</td>
                                            <td data-v-76425704="" class="text-left">4,000,000<i data-v-76425704="">đ</i></td>
                                        </tr>*@
                                    </tbody>
                                </table>
                                <hr data-v-76425704="" />
                                <p data-v-76425704="" class="d-flex">
                                    <span data-v-76425704="">Tạm tính</span> <span data-v-76425704=""></span> <span data-v-76425704=""></span> <span data-v-76425704="">@_totalPrice.ToString("#,###")<i data-v-76425704="">đ</i></span>
                                </p>
                                <p data-v-76425704="" class="d-flex">
                                    <span data-v-76425704="">Phí vận chuyển</span> <span data-v-76425704=""></span> <span data-v-76425704=""></span> <span data-v-76425704="" style="display: none;"><i data-v-76425704="">đ</i></span>
                                    <span data-v-76425704="">0<i data-v-76425704="">đ</i></span> <span data-v-76425704="" style="display: none;">Nơi này chưa có phí cụ thể</span>
                                </p>
                                <hr data-v-76425704="" />
                                <p data-v-76425704="" class="d-flex total">
                                    <span data-v-76425704="">Tổng cộng</span> <span data-v-76425704=""></span> <span data-v-76425704=""></span> <span data-v-76425704="">@_totalPrice.ToString("#,###")<i data-v-76425704="">đ</i></span>
                                </p>
                                <button data-v-76425704="" type="button" class="btn btn-primary mt-2 btn-purchase">Đặt hàng</button> <a data-v-76425704="" href="/gio-hang" class="btn btn-primary mt-2 btn-back">Quay về giỏ hàng</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
