@using TECH.Areas.Admin.Models
@model List<OrdersModelView>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model != null && Model.Count > 0)
{
    <section class="ftco-section">
        <div class="parallax-img d-flex align-items-center">
            <div data-v-c52b8308="" class="container">
                <div data-v-c52b8308="" class="row">
                    <h2 data-v-c52b8308="" class="mb-3">Lịch sử đơn hàng</h2>
                    <div data-v-c52b8308="" class="col-md-12">
                        <div data-v-c52b8308="" class="cart-list my-cart">
                            <div data-v-c52b8308="" class="table-responsive">
                                <table data-v-c52b8308="" class="table table-striped">
                                    <thead data-v-c52b8308="">
                                        <tr data-v-c52b8308="">
                                            <th data-v-c52b8308="">Mã đơn hàng</th>
                                            <th data-v-c52b8308="">Tổng đơn hàng</th>
                                            <th data-v-c52b8308="">Hình thức mua</th>
                                            <th data-v-c52b8308="">Ngày đặt hàng</th>
                                            <th data-v-c52b8308="">Trạng thái đơn hàng</th>
                                            <th data-v-c52b8308="">Đánh giá</th>
                                        </tr>
                                    </thead>
                                    <tbody data-v-c52b8308="">
                                        @foreach (var item in Model)
                                        {
                                            <tr data-v-c52b8308="">
                                                <td data-v-c52b8308="" class="image-prod">
                                                    <div data-v-c52b8308="">
                                                        <a data-v-c52b8308="" href="javascript:void(0)">
                                                            @item.code
                                                        </a>
                                                    </div>
                                                </td>
                                                <td data-v-c52b8308="" class="product-name">
                                                    <div data-v-c52b8308="">@item.total.Value.ToString("#,###")<i data-v-c52b8308="">đ</i></div>
                                                </td>
                                                <td data-v-c52b8308="" class="price">
                                                    <div data-v-c52b8308="">@item.paymentstr</div>
                                                </td>
                                                <td data-v-c52b8308="">@item.created_atstr</td>
                                                <td data-v-c52b8308="">
                                                    <div data-v-c52b8308="" class="standby">@item.status</div>
                                                </td>
                                                <td data-v-c52b8308="">
                                                    <p data-v-c52b8308="">Chưa thể đánh giá</p>
                                                </td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
             @*   <div data-v-c52b8308="" id="DetailModal" tabindex="-1" role="dialog" aria-labelledby="DetailModalTitle" aria-hidden="true" class="modal fade bd-example-modal-lg">
                    <div data-v-c52b8308="" class="modal-dialog modal-lg">
                        <div data-v-c52b8308="" class="modal-content">
                            <div data-v-c52b8308="" class="modal-header bg-custom">
                                <h5 data-v-c52b8308="" id="DetailModalTitle" class="modal-title txt-title">Chi tiết đơn đặt hàng </h5>
                                <button data-v-c52b8308="" type="button" data-dismiss="modal" aria-label="Close" class="close"><span data-v-c52b8308="" aria-hidden="true">×</span></button>
                            </div>
                            <div data-v-c52b8308="" class="modal-body">
                                <table data-v-c52b8308="" class="table table-styling">
                                    <thead data-v-c52b8308="" class="bg-black">
                                        <tr data-v-c52b8308="">
                                            <th data-v-c52b8308="">Tên sản phẩm</th>
                                            <th data-v-c52b8308="">Số lượng</th>
                                            <th data-v-c52b8308="">Giá tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody data-v-c52b8308=""></tbody>
                                    <tfoot data-v-c52b8308="">
                                        <tr data-v-c52b8308="" class="table-footer">
                                            <td data-v-c52b8308="" colspan="2" class="txt-right">Tổng tiền:</td>
                                            <td data-v-c52b8308=""><i data-v-c52b8308="">đ</i></td>
                                        </tr>
                                        <tr data-v-c52b8308="" class="table-footer" style="display: none;">
                                            <td data-v-c52b8308="" colspan="2" class="txt-right">Phí vận chuyển:</td>
                                            <td data-v-c52b8308=""><span data-v-c52b8308="" style="display: none;"><i data-v-c52b8308="">đ</i></span> <span data-v-c52b8308="">0<i data-v-c52b8308="">đ</i></span> <span data-v-c52b8308="" style="display: none;">Nơi này chưa có phí cụ thể</span></td>
                                        </tr>
                                        <tr data-v-c52b8308="" class="table-footer">
                                            <td data-v-c52b8308="" colspan="2" class="txt-right">Hình thức thanh toán:</td>
                                            <td data-v-c52b8308="">
                                                <div data-v-c52b8308="">Mua trực tiếp</div>
                                            </td>
                                        </tr>
                                        <tr data-v-c52b8308="" class="table-footer">
                                            <td data-v-c52b8308="" colspan="2" class="txt-right">Thành tiền:</td>
                                            <td data-v-c52b8308=""><i data-v-c52b8308="">đ</i></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div data-v-c52b8308="" class="modal-footer"><button data-v-c52b8308="" type="button" data-dismiss="modal" class="btn btn-secondary btn-3d">Đóng</button></div>
                        </div>
                    </div>
                </div>
                <div data-v-c52b8308="" id="ReviewModal" tabindex="-1" role="dialog" aria-labelledby="ReviewModalTitle" aria-hidden="true" class="modal fade">
                    <div data-v-c52b8308="" class="modal-dialog">
                        <form data-v-c52b8308="">
                            <div data-v-c52b8308="" class="modal-content">
                                <div data-v-c52b8308="" class="modal-header bg-custom">
                                    <h5 data-v-c52b8308="" id="ReviewModalTitle" class="modal-title white">Đánh giá sản phẩm</h5>
                                    <button data-v-c52b8308="" type="button" data-dismiss="modal" aria-label="Close" class="close"><span data-v-c52b8308="" aria-hidden="true">×</span></button>
                                </div>
                                <div data-v-c52b8308="" class="modal-body">
                                    <div data-v-c52b8308="" class="modal-body"></div>
                                </div>
                                <div data-v-c52b8308="" class="modal-footer"><button data-v-c52b8308="" type="submit" class="text-center btn btn-primary">Gửi</button> <button data-v-c52b8308="" type="button" data-dismiss="modal" class="btn btn-secondary btn-3d">Đóng</button></div>
                            </div>
                        </form>
                    </div>
                </div>*@
            </div>
        </div>
    </section>
}
else
{
    <p style="text-align:center;font-size: 25px;">Không có lịch sử đơn hàng n</p>
}
